In [422]:
import wikipediaapi
import pandas as pd
import numpy as np

In [423]:
# Create wikipedia API instance
wiki = wikipediaapi.Wikipedia('hi')

In [424]:
# get English title of given Hindi page
def get_eng_title(page):
    langlinks = page.langlinks
    
    if 'en' in langlinks.keys():
        return langlinks['en'].title
    else:
        return None

In [425]:
def print_links(page,body):
    links = []
    for link in page.links:
        if body.find(link) != -1:
            links.append(link)

    return links

In [426]:
def word_list(hindi_list):
    # list to return hindi-english mappings in
    word_mappings = []
    
    for hindi_title in hindi_list:
        page = wiki.page(hindi_title)
        
        # if page doesn't exist for this hindi title, skip it
        try:
            page.exists()
        except KeyError:
            continue
        
        # get english title of hindi topic
        eng_title = get_eng_title(page)
        # if there is no english title, skip it
        if eng_title is None:
            continue
        # append final map list with english and hindi titles
        word_mappings.append([hindi_title, eng_title])
    return word_mappings

In [427]:
word_list(['ब्रिटेन','ब्रिटेन'])

[['ब्रिटेन', 'Britain'], ['ब्रिटेन', 'Britain']]

In [428]:
# create code mixed corpus by replacing hindi word in body with english one
def find_and_replace(body, word_list):
    for word in word_list:
        body = body.replace(word[0], word[1])
    return body

In [437]:
# open file with english names
names_file = open("cand_cluster_per.txt", "r", encoding = "ISO-8859-1")
names = []

# clean data and append in names list
for name in names_file:
    name = name.replace('\n','').replace(" ","_")
    names.append(name)

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/home/asheeque/anaconda3/envs/major/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3331, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-437-125e2ff2fde0>", line 2, in <module>
    names_file = open("cand_cluster_per.txt", "r", encoding = "ISO-8859-1")
FileNotFoundError: [Errno 2] No such file or directory: 'cand_cluster_per.txt'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/asheeque/anaconda3/envs/major/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2044, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'FileNotFoundError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/asheeque/anaconda3/envs/major/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1151, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/home/asheeque/anaconda3/envs/major/lib/python3.8/site-packages/IPython/core/ultratb.py", line 319, in wrapped
    return f(*args, **kwargs)
  File "/home/asheeque/anaconda3/envs/major/lib/python3.8/site-packages/IPython/core/ultratb.py", line 353, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/home/asheeque/anaconda3/envs/major/lib/python3.8/inspect.py", line 1503, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/home/asheeque/anaconda3/envs/major/lib/python3.8/inspect.py", line 1461, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/home/asheeque/anaconda3/envs/major/lib/python3.8/inspect.py", line 708, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/home/asheeque/anaconda3/envs/major/lib/python3.8/inspect.py", line 737, in getmodule
    file = getabsfile(object, _filename)
  File "/home/asheeque/anaconda3/envs/major/lib/python3.8/inspect.py", line 721, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/home/asheeque/anaconda3/envs/major/lib/python3.8/posixpath.py", line 379, in abspath
    cwd = os.getcwd()
FileNotFoundError: [Errno 2] No such file or directory

FileNotFoundError: [Errno 2] No such file or directory: 'cand_cluster_per.txt'

In [430]:
# create dataframe of english names
names_df = pd.DataFrame()
names_df['english'] = names

names_df = names_df[0:20]
names_df

                   english
0           Naresh_Chandra
1              Ram_Narayan
2         Man_Mohan_Sharma
3        Kalu_Lal_Shrimali
4           Nagendra_Singh
5     Daulat_Singh_Kothari
6        Mohan_Sinha_Mehta
7        Manikya_Lal_Varma
8      Ghanshyam_Das_Birla
9            Padma_Bhushan
10           Komal_Kothari
11      Vijay_Shankar_Vyas
12               Durga_Lal
13       Jagat_Singh_Mehta
14      Ram_Narain_Agarwal
15           L._M._Singhvi
16  Narayan_Singh_Manaklao
17            Natwar_Singh
18       Jhabar_Mal_Sharma
19         Bhogilal_Pandya

In [431]:
def get_hindi_name(x):
    eng_wiki = wikipediaapi.Wikipedia('en')
    page = eng_wiki.page(x)
    
    if 'hi' in page.langlinks:  
        hindi_name = page.langlinks['hi'].title
        print(hindi_name)
        return hindi_name
    return None

In [432]:
names_df['hindi'] = names_df.apply(get_hindi_name, axis = 1)

नरेश चन्द्रा
राम नारायण
मनमोहन शर्मा
के॰ एल॰ श्रीमाली
नगेन्द्र सिंह
दौलत सिंह कोठारी
मोहन सिंह मेहता
माणिक्यलाल वर्मा
घनश्यामदास बिड़ला
पद्म भूषण
कोमल कोठारी
दुर्गा लाल
जगत मेहता
रामनारायण अग्रवाल
लक्ष्मीमल्ल सिंघवी
नटवर सिंह
भोगीलाल पांड्या

In [433]:
names_df

                   english               hindi
0           Naresh_Chandra        नरेश चन्द्रा
1              Ram_Narayan          राम नारायण
2         Man_Mohan_Sharma        मनमोहन शर्मा
3        Kalu_Lal_Shrimali    के॰ एल॰ श्रीमाली
4           Nagendra_Singh       नगेन्द्र सिंह
5     Daulat_Singh_Kothari    दौलत सिंह कोठारी
6        Mohan_Sinha_Mehta     मोहन सिंह मेहता
7        Manikya_Lal_Varma    माणिक्यलाल वर्मा
8      Ghanshyam_Das_Birla   घनश्यामदास बिड़ला
9            Padma_Bhushan           पद्म भूषण
10           Komal_Kothari         कोमल कोठारी
11      Vijay_Shankar_Vyas                None
12               Durga_Lal          दुर्गा लाल
13       Jagat_Singh_Mehta           जगत मेहता
14      Ram_Narain_Agarwal   रामनारायण अग्रवाल
15           L._M._Singhvi  लक्ष्मीमल्ल सिंघवी
16  Narayan_Singh_Manaklao                None
17            Natwar_Singh           नटवर सिंह
18       Jhabar_Mal_Sharma                None
19         Bhogilal_Pandya     भोगीलाल पांड्या

In [98]:
# names_df = names_df[names_df.hindi != None]
names_df = names_df.replace(to_replace='None', value=np.nan).dropna()

In [101]:
names_df.index = range(len(names_df))
names_df

                 english               hindi
0         Naresh_Chandra        नरेश चन्द्रा
1            Ram_Narayan          राम नारायण
2       Man_Mohan_Sharma        मनमोहन शर्मा
3      Kalu_Lal_Shrimali    के॰ एल॰ श्रीमाली
4         Nagendra_Singh       नगेन्द्र सिंह
5   Daulat_Singh_Kothari    दौलत सिंह कोठारी
6      Mohan_Sinha_Mehta     मोहन सिंह मेहता
7      Manikya_Lal_Varma    माणिक्यलाल वर्मा
8    Ghanshyam_Das_Birla   घनश्यामदास बिड़ला
9          Padma_Bhushan           पद्म भूषण
10         Komal_Kothari         कोमल कोठारी
11             Durga_Lal          दुर्गा लाल
12     Jagat_Singh_Mehta           जगत मेहता
13    Ram_Narain_Agarwal   रामनारायण अग्रवाल
14         L._M._Singhvi  लक्ष्मीमल्ल सिंघवी
15          Natwar_Singh           नटवर सिंह
16       Bhogilal_Pandya     भोगीलाल पांड्या

In [102]:
names_df.to_csv('parallel_corpus.csv')

In [110]:
word_corpus_list=[]

# given a hindi title, get its mixed corpus
def get_mixed_corpus(hindi_title):
    wiki_wiki = wikipediaapi.Wikipedia('hi')
    page_py = wiki_wiki.page(hindi_title)
    body = page_py.text.replace('\n','').replace('==', '').replace('\u200d', '').replace('।', '')
    print(hindi_title)
    link_list=print_links(page_py,body)
    
    hindi_english_list=word_list(link_list)
    word_corpus_list.append(hindi_english_list)
    replaced_text=find_and_replace(body,hindi_english_list)

    return replaced_text

In [114]:
mixed_corpus = test['hindi'].apply(get_mixed_corpus)

नरेश चन्द्रा
राम नारायण
मनमोहन शर्मा
के॰ एल॰ श्रीमाली
नगेन्द्र सिंह

pandas.core.series.Series

In [131]:
# Create data frame with parallel corpus and code mixed corpus
test.assign(mixed_corpus = mixed_corpus.to_list())

,english,hindi,mixed_corpus
0,Naresh_Chandra,नरेश चन्द्रा,नरेश चन्द्रा (जन्म 1934) पूर्व Indian सिविल से...
1,Ram_Narayan,राम नारायण,राम नारायण (२५ दिसम्बर १९२७) Indiaीय संगीतज्ञ ...
2,Man_Mohan_Sharma,मनमोहन शर्मा,मनमोहन शर्मा को 1986 में India सरकार ने विज्ञ...
3,Kalu_Lal_Shrimali,के॰ एल॰ श्रीमाली,कालू लाल श्रीमाली (अंग्रेज़ी: Kalu Lal Shrimal...
4,Nagendra_Singh,नगेन्द्र सिंह,डॉ॰ नगेन्द्र सिंह Dungarpur (18 मार्च 1914-11 ...

In [ ]:
final_test=pd.DataFrame()
for i in words:
    test_df=pd.DataFrame(i)
    final_test=final_test.append(test_df)

In [ ]:
final_test.index = range(len(final_test))

In [ ]:
df1

In [ ]:
mc=df1['hin'].apply(content)

In [133]:
final=pd.DataFrame()
for i in word_corpus_list:
    test_df=pd.DataFrame(i)
    final=final.append(test_df)

In [134]:
final.index = range(len(final))

In [183]:
names_parallel = pd.read_csv('names_parallel.csv')
# names_parallel.drop(names_parallel.columns[names_parallel.columns.str.contains('Unnamed', case=False)], axis=1, inplace=True)

In [187]:
names_parallel = names_parallel[0:5]
names_parallel

             english             hindi
0     Naresh_Chandra      नरेश चन्द्रा
1        Ram_Narayan        राम नारायण
2   Man_Mohan_Sharma      मनमोहन शर्मा
3  Kalu_Lal_Shrimali  के॰ एल॰ श्रीमाली
4     Nagendra_Singh     नगेन्द्र सिंह

In [188]:
mixed_corpus = names_parallel.loc[1].apply(get_mixed_corpus)
final_result = names_parallel.assign(mixed_corpus=mixed_corpus)

final_result

Ram_Narayan
राम नारायण

             english             hindi mixed_corpus
0     Naresh_Chandra      नरेश चन्द्रा          NaN
1        Ram_Narayan        राम नारायण          NaN
2   Man_Mohan_Sharma      मनमोहन शर्मा          NaN
3  Kalu_Lal_Shrimali  के॰ एल॰ श्रीमाली          NaN
4     Nagendra_Singh     नगेन्द्र सिंह          NaN